version: '3.4'

services:
  patients.management.webapi:
    image: ${DOCKER_REGISTRY-}patientsmanagementwebapi
    build:
      context: .
      dockerfile: src/Patients.Management.WebApi/Dockerfile
    environment:
      - MongoDbSettings__ConnectionString=mongodb://mongodb:27017
      - MongoDbSettings__DatabaseName=mongodb
    networks:
      - mynetwork
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    networks:
      - mynetwork
networks:
  mynetwork: